.App{
  display: grid;
  grid-template-columns: 300px auto 550px;
  /* grid-template-rows: 80px auto 50px; */
  grid-template-areas: "main aside other";
  /* width: 65%; */
  margin: auto;
  height: auto;
  background-color: black;
  
}


